<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://orderframework.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-011.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>orderframework</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$orderframework</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:y2jeiaodce.database.windows.net,1433;Initial Catalog=orderframework114;User ID=mgr@y2jeiaodce;Password=Albo!234" Name="Data Source=tcp:y2jeiaodce.database.windows.net,1433;Initial Catalog=orderframework114;User Id=mgr@y2jeiaodce;Password=Albo!234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OpenOrderFramework.Models.ApplicationDbContext, OpenOrderFramework" MigrationConfiguration="OpenOrderFramework.Migrations.Configuration, OpenOrderFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:y2jeiaodce.database.windows.net,1433;Initial Catalog=orderframework114;User Id=mgr@y2jeiaodce;Password=Albo!234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>