@{
    ViewBag.Title = "Your order isnt complete yet..";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Please check your email and confirm your email address then login and complete your order.
</p>
