@model OpenOrderFramework.Models.GuestViewModel
@using Microsoft.Owin.Security

<h4>Login as a Guest</h4>
<hr />
@using (Html.BeginForm("GuestLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.GuestAcct)
        @Html.HiddenFor(model => model.GuestPassword)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guest Checkout" class="btn btn-default" />
            </div>
        </div>
}
